name: BUILD_AND_PUSH

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Build docker image
      run:
        docker build -t ${GITHUB_REPOSITORY}:${GITHUB_REF} --build-arg DOCKER_VER=${GITHUB_REF} .
